 </div><ion-view view-title="About">
  <ion-content class="padding" >
    <div class="card">

      <div class="item item-divider">
        <i class="icon ion-ios-analytics" ></i>
        <label for="panel_2">
           The Team
           <a href="#" class="item-icon-right">
            <i class="icon ion-ios-football-outline"></i>
           </a>     
        </label>
      </div>
      <input class="input" type="radio" name="panel" id="panel_2" >
      <div class="collapsible l-center">
            <p>This App was developed by students of Regional Maritime University (RMU) as a study Project to encourage and empower students to learn new skills and apply knowledge gained from the University to solve problems facing the University and Ghana at Large.</p>
            <p>The App was designed to have a relatively simple interface to help in the dissemination of information and to assist students in studying, creating timetables, and writing Project Timelines</p>
      </div>
      <!-- the end of one -->

      <div class="item item-divider">
        <i class="icon ion-paper-airplane" ></i>
        <label for="panel_1">
            About Us
            <a href="#" class="item-icon-right">
              <i class="icon ion-ios-football-outline"></i>
            </a>
         </label>
      </div>
      <input class="input" type="radio" name="panel" id="panel_1" checked>
        <div class="collapsible l-center" >
              <p>The Regional Maritime University (RMU), is an international tertiary institution and private university in Accra, Ghan</p>
              <p>RMU occupies the premises of the old Ghana Nautical College which was established in 1958 to train ratings for the erstwhile State Shipping Corporation (Black Star Line)</p>
              <p>On 1<sup>st</sup> October 1982, the Government of Ghana promulgated the Regional Maritime Law 1982 which was followed by the signing of the instrument of transfer, handing over the College to the then Ministerial Conference of West and Central African States on Maritime Transport (MINCONMAR), now known as Maritime Organization of West and Central Africa (MOWCA), which negotiated for its regionalization.The College was then renamed The Regional Maritime Academy (R.M.A.).</p>
              <p>The institution gained University status on the 25<sup>th</sup> of October, 2007</p>
              <p>Founding members:  Republics of Cameroon, The Gambia, Ghana, Liberia and Sierra Leone</p>
        </div>
    </div>

        <div class="d-center"><p class="">Powered by eyeTengin <i class="icon ion-ios-eye"></i></p></div>
        <div class="d-center"><p>App  v0.1 © 2015 RMU, Ghana . All rights reserved</p></div>
  </ion-content>
</ion-view>
