<ion-view view-title="Home">
  <ion-content class="home-background">
  <div class="home_img">    
      <img ng-src="img/rmulogo1.png">
  </div>
  <div class="">
    <h2 class="home_text">RMU Mobile</h2>
  </div>

  <div class="home_connect">
    <h5>Click to connect</h5>
    <i class="ion-ios-arrow-down"></i>
  </div>

  <div class="padding">
    <div class="button-bar">
      <a class="button button-clear" href="#" onclick="window.open('http://www.rmu.edu.gh/', '_system'); return false;">RMU Web</a>
      <a class="button button-clear" href="#" onclick="window.open('http://www.rmu-src.com/', '_system'); return false;">
      SRC Web</a>
      <a class="button button-clear" href="#" onclick="window.open('http://www.ghanamaritime.org/en/', '_system'); return false;">GMA Web</a>
    </div>
  </div>
  </ion-content>
</ion-view>
