<ion-view view-title="Study">
  <ion-content >
  		<div class="padding">
        	<a class="item item-avatar curves" href="#" onclick="window.open('https://www.mystudylife.com/', '_system'); return false;">
		      <img ng-src="img/msl.png">
		      <h2>My study Life</h2>
		      <p>Organise your classes, tasks or lectures</p>
		    </a>

        	<a class="item item-avatar" href="#" onclick="window.open('https://www.refme.com/i/#/', '_system'); return false;">
		      <img ng-src="img/rm.png">
		      <h2>Ref ME</h2>
		      <p>Citations, Ref lists and bibliographies</p>
		    </a>

          	<a class="item item-avatar" href="#" onclick="window.open('https://www.examtime.com/en/', '_system'); return false;">
		      <img ng-src="img/et.png">
		      <h2>Examtime</h2>
		     	<p>Discover and Share learning Resources</p>
		    </a>

            <a class="item item-avatar" href="#" onclick="window.open('http://openstudy.com/', '_system'); return false;">
		      <img ng-src="img/os.png">
		      <h2>Open Study</h2>
		      <p>Form World Study Groups</p>
		    </a> 
			<a class="item item-avatar" href="#" onclick="window.open('https://www.studyblue.com/', '_system'); return false;">
		      <img ng-src="img/sb.png">
		      <h2>Studyblue</h2>
		      <p>Share you with the World</p>
		    </a>
		</div>
		<div class="item item-text-wrap home-background">
	        <div class="item-avatar right">
	        	<img src="img/img.gif">
	        	<p>Knowledge is diverse, connect, learn and share with friends with RMU study!!!</p>     	
	        </div>
	    </div>
   
  </ion-content>
</ion-view>







